<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<p>
  <strong>Due:</strong>
  <%= @item.due %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<%= link_to 'Back', items_path %>
